# Logs
/logs

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
/node_modules

# TypeScript cache
*.tsbuildinfo

# ESlint
.eslintrc.json
.eslintignore

# Source maps
*.js.map
