
body {
    margin: 0 100px;
    font-family: sans-serif;
  }
pre#json-renderer {
    border: 1px solid #aaa;
    width: 100%;
    height: 50vh;
    
}
textarea{
    resize: none;
    width: 100%;
    height: 10vh;
    /*padding: 1em 2em;*/
}
pre#json-renderer, textarea{
    padding:0;
    overflow: auto;
}